/* 共通部分 */
html {
    font-size: 100%;
  }
  body {
    font-family: "Helvetica Neue", "Hiragino Sans", "Meiryo", sans-serif;
    color: #707070;
    background-color: #fafafa;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  img {
    max-width: 100%;
  }
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* AllRoundGothicの共通CSS
    font-family: all-round-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;;
  */
  
  /* header
  */
  .page-header {
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
  }
  .clapp-logo {
    width: 130px;
    height: auto;
    margin: 13px 0 15px;
    display: flex;
  }
  .wrapp {
    padding: 0 4%;
  }
  .header-nav {
    display: flex;
    font-size: 15px;
    font-weight: 300;
  }
  .header-nav li {
    height: 70px;
  }
  .header-nav a {
    color: #707070;
    padding: 25px 15px;
    display: block;
    transition: color 0.5s;
  }
  .header-nav a:hover {
    color: #131313;
    background-color: rgb(230, 230, 230);
    /* もしくは */
    /* color: #131313; */
    /* font-size: 20px; */
  }
  
  /* main
   */
  /* head
  */
  .head {
    text-align: center;
    margin: 43px 0 80px;
  }
  .head h1 {
   font-family: all-round-gothic, sans-serif;
   font-weight: 700;
   font-style: normal;
   font-size: 58px;
  }
  .head p {
   font-size: 25px;
  }
  
  /* f-container
  */
  .f-container {
    display: flex;
    justify-content: center;
  }
  .app-name {
    font-family: all-round-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 50px;
    margin: 10px 0 50px;
  }
  .GB-image {
    height: auto;
    width: 1000px;
    align-items: center;
    padding: 0 180px 0 50px;
    position: relative;
  }
  .app-intro {
    position: absolute;
    top: 125px;
    right: 0px;
  }
  .app-intro p {
    margin-bottom: 8px;
    color: #525252;
  }
  
  /* app-image
  */
  .app-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .app-intro2 {
    margin-right: 100px;
  }
  .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #6686C4;
    margin-right: 10px;
  }
  .blue-circle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  
  /* images
  */
  .app-SS {
    height: 300px;
    width: auto;
  }
  
  
  /* summary
  */
  .summary {
    margin-top: 170px;
  }
  .summary p  {
    font-size: 20px;
    line-height: 54px;
    text-align: center;
  }
  .read-button {
   display: flex;
   justify-content: center;
  }
  .rb-contact {
   color: #707070;
   background-color: #d9d9d9;
   margin-top: 35px;
   padding: 13px 24px;
   border-radius: 35px;
   transition: color .7s;
  }
  .rb-contact:hover {
   color: #f5f5f5;
   background-color: #d42828;
  }

  .privacy-policy {
    padding: 100px 20px;
    display: flex;
    justify-content: center;
   }
   
   .b-privacy-policy {
    color: #000000;
    padding: 2px 12px;
    border-radius: 5px;
    text-decoration: underline;
   }


  
  /* footer
   */
  footer {
      color: #f5f5f5;
      background-color: #707070;
      height: 100px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 150px;
  }